.nitro{
  &-auth{
    min-height: 100vh;
    padding: 2rem 0;
    align-items: center;
    justify-content: center;
    display: flex;

    .logo{
      margin-top: 1rem;
      margin-bottom: 2rem;
      img{
        height: 50px;
        width: auto;
      }
    }
  }
}