.themes-list{
    .theme-img{
        width: 100%;
        height: 235px;
        overflow: hidden;
        position: relative;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
}