.notifications{
	.card{
		.card-body{
			.col-10{
				> a{
					display: block;
				}
			}
			.media{
				img{
					width: 40px;
					height: 40px;
					border: 1px solid #eee;
					margin-right: 10px;
					border-radius: 50%;
				}

				.notifiction-title{
					font-size: 1rem;
					margin-bottom: 5px;
					color: $body-color;
					a{
						font-weight: bold;
						font-size: 1rem;

						&:hover{
							color: $primary;
						}
					}
				}

				.notification-time{
					margin-bottom: 0;
					font-size: 0.8rem;
					color: #666;
				}
			}
		}

		&.unread{
			background-color: #F5F5E2;
		}
	}
}