.post-list{
    .post-item{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .post-item-detail{
            position: relative;
            width: calc( 100% - 50px);
            margin-right: auto;
            word-break: break-word;
            word-wrap: break-word;

            h1{
                margin-bottom: 0;
                font-weight: 700;
                font-size: 18px;
                line-height: 1.2;

                a{
                    color: $body-color;
                    display: block;
                    padding-bottom: 2px;
                    padding-right: 8px;

                    &:hover{
                        color: $primary;
                    }
                }
            }

            .post-item-meta{
                display: flex;
                font-size: 12px;
                color: $gray-500;

                a{
                    color: $gray-500;
                }

                span{
                    margin-right: 15px;
                }
            }
        }

        .post-thumbnail{
            position: relative;
            width: 80px;
            -ms-flex-item-align: stretch;
            align-self: stretch;
            overflow: hidden;

            a{
                display: block;
                height: 100%;

                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    height: 100%;
                    max-height: 80px;
                    max-width: none;
                }
            }
        }

        .post-action{
            .dropdown-menu{
                &.show{
                    top: 10px !important;
                    left: 15px !important;
                }
            }
        }
    }
}

.post-editor{
	.editor-title{
		border: none;
		background-color: transparent;
		font-size: 3rem;
        color: $body-color;
        height: auto;

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: #ddd;
		}
		&::-moz-placeholder { /* Firefox 19+ */
			color: #ddd;
		}
		&:-ms-input-placeholder { /* IE 10+ */
			color: #ddd;
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: #ddd;
		}
	}

	.editor-slug{
		.input-group-text, .form-control{
			border: none;
			background-color: transparent;
		}
	}

	.mce-panel{
		border: none !important;
		background-color: transparent;
	}

	.mce-top-part::before{
		box-shadow: none;
	}

	div.mce-toolbar-grp, .mce-inline-toolbar-grp div.mce-toolbar-grp {
	    background-color: transparent;
	    border-color: #eee !important;
	    border-style: solid;
	    border-left-width: 1px;
	    border-right-width: 1px;
	    padding: 0;
	    overflow-x: auto;
	    margin: 0 auto;
	    border-bottom: 1px solid #eee !important;
	}

	.mce-btn-group:not(:first-child){
		border-left-color: #eee;
	}

	.mce-statusbar .mce-container-body{
		background-color: #d9e3ea;
	}

	div.mce-edit-area {
    	background: none;
    }

	.mce-btn{
		background-color: transparent;
	}

	.mce-content-body {
		background-color: transparent !important;
		outline: none !important;
	}
}