.setup{
    min-height: 100vh;
	padding: 2rem 0;
	align-items: center;
	justify-content: center;
	display: flex;
    .logo{
        margin-bottom: 1.5rem;
        img{
            height: 60px;
            width: auto;
        }
    }

    .card{
        .card-body{
            padding: 2rem;
        }
    }
}