.step{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
     -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    padding-left: 0;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;

    li{
        position: relative;
        width: 100%;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        text-align: center;
        z-index: 2;
        list-style: none;
        margin-left: -1px;

        .wrap{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center !important;
            -ms-flex-pack: center !important;
            justify-content: center !important;
        }

        a{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center !important;
            -ms-flex-pack: center !important;
            justify-content: center !important;
            -webkit-box-align: center !important;
            -ms-flex-align: center !important;
            align-items: center !important;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 3px solid #ddd;
            font-size: 1rem;
            font-weight: 500;
            background-color: $white;
            position: relative;
            z-index: 2;

            /* &[href]{
                border: 3px solid $primary;
            } */
        }

        &:before{
            position: absolute;
            content: "";
            width: 50%;
            height: 3px;
            background-color: #ddd;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        &:after{
            position: absolute;
            content: "";
            width: 50%;
            height: 3px;
            background-color: #ddd;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }

        &.active{
            &:before, &:after{
                background-color: $primary; 
            }

            a{
                border: 3px solid $primary;
            }
        }

        &:first-child{
            &:before{
                display: none;
            }
        }

        &:last-child{
            &:after{
                display: none;
            }
        }
    }
}