label.switch {
	text-align: left;
	width: 40px;
	height: calc(40px / 2);
	border-radius: 60px;
	background-color: $primary;
	display: inline-block;
	position: relative;
    cursor: pointer;
    margin-bottom: 0;
	>span {
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 60px;
		&:before {
			content: "";
			cursor: pointer;
			position: absolute;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			background-color: #f1f1f1;
			border-radius: 60px;
			transition: opacity .2s ease-out .1s, transform .2s ease-out .1s;
			transform: scale(1);
			opacity: 1;
		}
		&:after {
			content: "";
			cursor: pointer;
			position: absolute;
			top: 50%;
			z-index: 3;
			transition: transform .4s cubic-bezier(0.44,-0.12, 0.07, 1.15);
			width: calc(40px / 2);
			height: calc(40px / 2);
			transform: translate3d(0, -50%, 0);
			background-color: $white;
			border-radius: 100%;
			box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
		}
	}
	>input[type="checkbox"] {
		opacity: 0;
		position: absolute;
		&:focus {
			~ {
				span {
					box-shadow: 0 0 0 4px $primary;
				}
			}
		}
		&:checked {
			&:focus {
				~ {
					span {
						box-shadow: 0 0 0 4px $white;
					}
				}
			}
			~ {
				span {
					&:before {
						transform: scale(0);
						opacity: .7;
					}
					&:after {
						transform: translate3d(100%, -50%, 0);
					}
				}
			}
		}
	}
}
