.user-list{
    h1{
        margin-bottom: 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 1;

        a{
            color: $body-color;
            display: block;
            padding-right: 8px;

            &:hover{
                color: $primary;
            }
        }
    }

    h6{
        margin-bottom: 5px;
        font-weight: 400;
        font-size: 14px;
        color: $gray-600;
    }
}

.user-access{
    .card{
        box-shadow: none;

        .card-header{
            border-bottom: 1px solid transparent;
            p{
                margin-bottom: 0;
            }
        }
        .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary{
            color: $white;
        }

        .card-body{
            border-top: 1px solid #e9ecef;
        }

        .method-item{
            display: flex;
            align-items: center;
            justify-content: space-between;

            p{
                margin-bottom: 0;
            }

            .method-item{
                padding-left: 3%;
            }

            + .method-item{
                margin-top: 15px;
            }
        }

        &:last-child{
            margin-bottom: 0;
        }
    }
}