.dropdown{
  &-user{
    &-avatar{
      @include avatar(30px);
    }
    &-info{
      span{
        display: block;
      }
      &-status{
        font-size: 11px;
        font-weight: 500;
        line-height: 1;
        color: $primary;
      }
      &-name{
        font-size: 14px;
      }
    }
  }

  &-menu{
    &-header, &-footer{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.75rem 1.25rem;
      border-bottom: 1px solid #e5e9f2;
      font-size: 13px;
    }

    &-body{
      &.perfect-scrollbar{
        max-height: 250px;
        overflow-y: auto;
      }
    }

    &-footer{
      border-top: 1px solid #e5e9f2;
    }

    &-md{
      min-width: 280px;
      max-width: 280px;
    }
    &-xl{
      min-width: 360px;
      max-width: 360px;
    }
  }

  &-item{
    display: flex;
    align-items: center;
    color: $default;
    font-size: 13px;
    padding: .5rem 1.75rem;
    position: relative;

    i{
      font-size: 1.125rem;
      width: 1.5rem;
      line-height: 1;
    }

    &-unread{
      background-color: rgba(19, 58, 124, 0.1);
    }

    + .dropdown-item{
      border-top: 1px solid #e5e9f2;
    }
  }
}