.main{
  margin-left: 240px;
  margin-top: 80px;
  margin-bottom: 60px;
  transition: all 0.3s;

  @include device(tablet) {
    margin-left: 0;
  }

  @include device(mobile) {
    margin-left: 0;
  }
}

.mini-aside-left{
  .main{
    margin-left: 60px;
    transition: all 0.3s;
  }
}