.table{
  td, th{
    font-family: 'Roboto', sans-serif !important;
  }
}

.with-table{
  padding: 0;
  margin: -1px;

  .table{
    margin-bottom: 0;
    .form-check-input{
      position: relative;
      margin: 0;
    }
  }
}