.documentations-sidebar{
    position: fixed;
    height: 100%;
    ul{
        list-style: none;
        padding: 0;
        padding-left: 1rem;
        li{
            padding: .5rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &.title-menu{
                font-size: 12px;
                font-weight: 500;
                text-transform: uppercase;
                color: darkgray;
            }

            a{
                display: block;
                i{
                    width: 18px;
                    margin-right: 0.5rem;
                }
                &:hover{
                    color: $info;
                }
            }

            span{
                &.notification-rounded{
                    border-radius: 50%;
                    background: $danger;
                    width: 15px;
                    height: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 8px;
                    color: #fff;
                    
                }
            }
        }
    }
}

.toc-nav{
    list-style: none;
    position: fixed;

    li{
        a{
            cursor: pointer;
            display: flex;
            padding: 4px 16px 4px 24px;
            align-items: center;
            vertical-align: middle;

            &.active{
                color: $primary;
            }
        }

        &.pl-2{
            padding-left: 1.2rem !important;
        }

        &.pl-3{
            padding-left: 1.7rem !important;
        }

        &.pl-4{
            padding-left: 2.2rem !important;
        }

        &.pl-5{
            padding-left: 2.7rem !important;
        }

        &.pl-6{
            padding-left: 3.2rem !important;
        }
    }
}